body {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(245,238,11);
  background: linear-gradient(90deg, rgba(245,238,11,1) 0%, rgba(249,137,0,1) 35%, rgba(140,27,8,1) 100%); */
  background: #f2f4f5;
}

#root {
  background-color: #eee;
  width: 50%;
  display: block;
  margin: auto;
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
